{% extends 'base.html' %} 
 
{% block content %} 
 
    <div class="container">
        <div class="row text-center d-flex justify-content-center mt-5">
             <div class="col-sm-3">
              <a href="{% url 'showphone' %}" style="text-decoration:none;">
                <div class="card">
                    <div class="card-body" style="background-color:  #240C64;">
                        <i class="bi text-center" style="font-size: 60px;">
                            <img src="../static/images/phones.png" class="img-thumbnail">

                        </i>
                            <h3 class =" m-4">Smart Phones</h3>
       </div>
    </div>
</body>
 
{% endblock %}
